@charset "UTF-8";
/* CSS Document */

/* Sfondo */

body,html {
	margin:0;
	top: 0;
	/*width: 100vw;
	height: 100vh;*/
	/*overflow-y: hidden;*/
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

#container {
	top: 0;
	margin: 0;
	width: 100vw;
	height: auto;
}


#BG {
	

	top: 0;
	margin:0;
	position: fixed; /* ***ATTENZIONE usare fixed*** */
	z-index: -2;
	width: 100vw;
	height: 100vh;
}

#BG_blackOverlay {
	top: 0;
	left: 0;
	margin:0;
	position: fixed;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.10);
	opacity: 0;
	display: none;
}

#BG_whiteOverlay {
	top: 0;
	left: 0;
	margin: 0;
	position: fixed; /* ***ATTENZIONE usare fixed*** */
	z-index: 9998;
	width: 0vw;
	height: 100vh;
	background-color: rgba(255,255,255,1);
	opacity: 0;
	display: none;
}

:root {
 	--left_poolN: 10vw;
	--right_poolN: var(--left_poolN);
	--width_li: 70vw;
	--laberl_li_size-plusborder: calc(var(--label_li_size) + 4px);
	--label_li_size: 40px;
	--poolname_li_margin: 15px;
	
	--top_nav: 10vw;
	
	--button_size: 40px;
	
	--font_scale_resize: 0.25vw;
	
	--weather_icon: 60px;
}

.sfondo_all_good
{
  background : -moz-linear-gradient(100.99% 99.68% 120deg,rgba(142, 242, 76, 1) 10%,rgba(0, 179, 87, 1) 90.12%);
  background : -webkit-linear-gradient(120deg, rgba(142, 242, 76, 1) 10%, rgba(0, 179, 87, 1) 90.12%);
  background : -webkit-gradient(linear,100.99% 99.68% ,-0.99% 0.32% ,color-stop(0.1,rgba(142, 242, 76, 1) ),color-stop(0.9012,rgba(0, 179, 87, 1) ));
  background : -o-linear-gradient(120deg, rgba(142, 242, 76, 1) 10%, rgba(0, 179, 87, 1) 90.12%);
  background : -ms-linear-gradient(120deg, rgba(142, 242, 76, 1) 10%, rgba(0, 179, 87, 1) 90.12%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8EF24C', endColorstr='#00B357' ,GradientType=0)";
  background : linear-gradient(-30deg, rgba(142, 242, 76, 1) 10%, rgba(0, 179, 87, 1) 90.12%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8EF24C',endColorstr='#00B357' , GradientType=1);
	background-repeat: no-repeat;
}

.sfondo_not_good
{
  background : -moz-linear-gradient(100.99% 99.68% 120deg,rgba(255, 195, 0, 1) 0.12%,rgba(255, 119, 0, 1) 100%);
  background : -webkit-linear-gradient(120deg, rgba(255, 195, 0, 1) 0.12%, rgba(255, 119, 0, 1) 100%);
  background : -webkit-gradient(linear,100.99% 99.68% ,-0.99% 0.32% ,color-stop(0.0012,rgba(255, 195, 0, 1) ),color-stop(1,rgba(255, 119, 0, 1) ));
  background : -o-linear-gradient(120deg, rgba(255, 195, 0, 1) 0.12%, rgba(255, 119, 0, 1) 100%);
  background : -ms-linear-gradient(120deg, rgba(255, 195, 0, 1) 0.12%, rgba(255, 119, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC300', endColorstr='#FF7700' ,GradientType=0)";
  background : linear-gradient(-30deg, rgba(255, 195, 0, 1) 0.12%, rgba(255, 119, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC300',endColorstr='#FF7700' , GradientType=1);
	background-repeat: no-repeat;
}

.sfondo_bad
{
  background : -moz-linear-gradient(100.99% 99.68% 120deg,rgba(240, 84, 30, 1) 0%,rgba(240, 9, 105, 1) 100%);
  background : -webkit-linear-gradient(120deg, rgba(240, 84, 30, 1) 0%, rgba(240, 9, 105, 1) 100%);
  background : -webkit-gradient(linear,100.99% 99.68% ,-0.99% 0.32% ,color-stop(0,rgba(240, 84, 30, 1) ),color-stop(1,rgba(240, 9, 105, 1) ));
  background : -o-linear-gradient(120deg, rgba(240, 84, 30, 1) 0%, rgba(240, 9, 105, 1) 100%);
  background : -ms-linear-gradient(120deg, rgba(240, 84, 30, 1) 0%, rgba(240, 9, 105, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0541E', endColorstr='#F00969' ,GradientType=0)";
  background : linear-gradient(-30deg, rgba(240, 84, 30, 1) 0%, rgba(240, 9, 105, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0541E',endColorstr='#F00969' , GradientType=1);
	background-repeat: no-repeat;
}

/* SVG */

.st0-1 {fill:url(#SVGID_1_1); opacity: 0.5;}
.st1-1 {fill:url(#SVGID_2_1); opacity: 0.5;}
.st0-2 {fill:url(#SVGID_1_2); opacity: 0.5;}
.st1-2 {fill:url(#SVGID_2_2); opacity: 0.5;}
.st0-3 {fill:url(#SVGID_1_3); opacity: 0.5;}
.st1-3 {fill:url(#SVGID_2_3); opacity: 0.5;}
.st0-4 {fill:url(#SVGID_1_4);}

.st2 {
	fill:#FFFFFF;
}

.smileSVG {
	width: 50vw;
	height: 64.5vw;
}

.smile_cont {
	position: fixed;
	top: calc(50vh - 32.25vw);
	left: 25vw;
	width: 50vw;
	height: 64.5vw;
	z-index: 1000;
	/*background-color: rgba(116,49,50,1.00);*/
}

.st0-nav1 {fill:rgba(255,255,255,1);}
.st0-nav2 {fill:rgba(234,0,41,1.00);}

.color_path1 {fill: rgba(39,172,58,1.00);}
.color_path2 {fill: rgba(255,255,255,1.00);}

.navbar {
	position: fixed; /* ***ATTENZIONE usare fixed*** */
	/*top: var(--top_nav);*/
	top: 0;
	width: 100vw;
	height: calc(var(--button_size) + 80px);
	z-index: 1000;
	
	/*background-color: darkviolet;*/
}

.swipeUp {
	position: fixed;
	bottom: 4vh;
	left: calc((100vw - 40px) / 2);
	width: 40px;
	height: 40px;
	z-index: 1000;
	/*background-color: rgba(116,49,50,1.00);*/
}

#more_1_nav {
	top: 40px;
	position: absolute;
	/*right: 10vw;*/
	right: 40px;
	width: var(--button_size);
	height: var(--button_size);
	float: left;
	cursor: pointer;
	
	background-color: rgba(255,255,255,1.00);
}
/*
.poolname {
	top: 40px;
	text-align: left;
	font-size: calc(24px - var(--font_scale_resize));
	line-height: 40px;
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 400;
	position: absolute;
	
	width: calc(100vw - 80px);
	
	left: 40px;
	
	
}
    */
/* POOLNAME*/
/*
.poolname {
	max-width: 200px;
	top: 40px;
	text-align: center;
	font-size: calc(24px - var(--font_scale_resize));
	line-height: 40px;
	font-kerning: normal;
	margin:0 auto;
	letter-spacing: normal;
	font-weight: 400;
	position: relative;
	width: calc(100vw - 80px);
	left: calc(-50vw);
	    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	
}
    */
#poolname {color: rgba(50,62,72,1.00);}

#poolname_copy {color: rgba(255,255,255,1.00);}

#close_1_nav {
	position: absolute;
	z-index: 100000;
	right: 40px;
	
	width: var(--button_size);
	height: var(--button_size);
	float: left;
	cursor: pointer;

	/*top: var(--top_nav);*/
	top: 40px;
	
	background : -moz-linear-gradient(50% 5% 90deg,rgba(240, 9, 105, 1) 0%,rgba(240, 84, 30, 1) 100%);
	  background : -webkit-linear-gradient(90deg, rgba(240, 9, 105, 1) 0%, rgba(240, 84, 30, 1) 100%);
	  background : -webkit-gradient(linear,50% 5% ,50% 105% ,color-stop(0,rgba(240, 84, 30, 1) ),color-stop(1,rgba(240, 9, 105, 1) ));
	  background : -o-linear-gradient(90deg, rgba(240, 9, 105, 1) 0%, rgba(240, 84, 30, 1) 100%);
	  background : -ms-linear-gradient(90deg, rgba(240, 9, 105, 1) 0%, rgba(240, 84, 30, 1) 100%);
	  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0541E', endColorstr='#F00969' ,GradientType=0)";
	  background : linear-gradient(180deg, rgba(240, 84, 30, 1) 0%, rgba(240, 9, 105, 1) 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0541E',endColorstr='#F00969' , GradientType=0);
	
}

#close_1_nav_anim {
	position: absolute;
	width: var(--button_size);
	height: var(--button_size);
	cursor: pointer;
}

#more_1_nav_anim {
	position: absolute;
	width: var(--button_size);
	height: var(--button_size);
	cursor: pointer;
}

.pool_menu_overlay {
	top: 0;
	position: fixed;
	z-index: 9999;
	/*background-color: mediumblue;*/
	width: 100vw;
	height: 100vh;
	padding-top: calc(50vh - (((var(--laberl_li_size-plusborder) * 5) + (var(--poolname_li_margin) * 6)) / 2));
    background-color: rgba(245, 247, 249, 1);
}

.poolname_list_cont {
	height: auto;
	width: auto;
	/*background-color: rgba(30,217,186,1.00);*/
}

.poolname_list {
	color: rgba(50,62,72,1.00);
	text-align: center;
	font-size: calc(18px - var(--font_scale_resize));
	line-height: var(--label_li_size);
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 500;
	
	height: var(--label_li_size);
	margin: var(--poolname_li_margin) 0 var(--poolname_li_margin) calc(50vw - (var(--width_li) / 2));
	
	border-radius: 10px;
	-moz-border-radius : 10px;
  	-webkit-border-radius : 10px;
	
	width: var(--width_li);
	cursor: pointer;
	
	background-color: rgba(245, 247, 249, 1);
	position: relative;
}

.pool_status_cont {
	width: auto;
	height: auto;
	float: left;
	/*background-color: rgba(172,38,132,1.00);*/
}

.pool_status {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgba(39,172,58,0.75);
	margin: calc(var(--poolname_li_margin) + 14.5px) 0 calc(var(--poolname_li_margin) + 14.5px) calc((50vw - (var(--width_li) / 2)) - 25px);
	position: relative;
	left: 50vw;
}

.pool_status_margin {
	margin: calc(var(--poolname_li_margin) + 29px) 0 calc(var(--poolname_li_margin) + 29px) calc((50vw - (var(--width_li) / 2)) - 25px);
}

/* Button shadow + border*/

.button_shadow1 {
	border-radius: 50%;
	 -moz-border-radius : 50%;
 	 -webkit-border-radius : 50%;
	
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3),
						0px 0px 0px 4px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3),
					0px 0px 0px 4px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3),
				0px 0px 0px 4px rgba(0,0,0,0.05);
}

/* List shadow */

.list_shadow {
	border: 2px solid rgba(50,62,72,0);
	-webkit-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.1);
}

/* List border */

.list_border {
	border: 2px solid rgba(50,62,72,0.05);
}

/* List hide border */

.list_Hborder {
	border: 2px solid rgba(50,62,72,0);
}

/* Hide */

.hidecont {
	display: none;
}

#poolInfo_content {
	width: 100vw;
	height: auto;
	position: relative;
	top: 50vh;
	
	/*background-color: yellow;*/
	z-index: 1;
	opacity: 0;
	
	/*display: none;*/
}

/* METEO */

.meteoImg_pos {
margin: -20px 0 0 -20px;
}


.poolInfo_title {
	color: rgba(255,255,255,1.00);
	text-align: left;
	font-size: calc(48px - var(--font_scale_resize));
	line-height: calc(60px - var(--font_scale_resize));
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 200;
	
	/*background-color: indigo;*/
	
	margin-left: calc(var(--weather_icon) + 20px);
}

.poolInfo_value {
	color: rgba(255,255,255,1.00);
	text-align: left;
	font-size: calc(18px - var(--font_scale_resize));
	line-height: calc(20px - var(--font_scale_resize));
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 500;
	margin-left: 80px;
	
	/*background-color: red;*/
}

.poolInfo_icon {
	width: var(--weather_icon);
	height: var(--weather_icon);
	border-radius: 50%;
	/*background-color: rgba(0,0,0,0.30);*/
	float: left;
	margin-left: 10px;
}

/*.poolTop-margin {
	margin-top: 40px;
}*/

.poolBottom-margin {
	width: calc(100vw - 80px);
	height: 4vh;
	padding-left: 40px;
	padding-right: 40px;
	
	background-color: rgba(50,62,72,1);
}

.poolInfo_wrapper {
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	/*background-color: deeppink;*/
}

/* FOOTER */

.footer {
	width: calc(100vw - 80px);
	margin-top: 8vh;
	padding-left: 40px;
	padding-right: 40px;
	background-color: rgba(50,62,72,1);
	padding-top: calc(12px - var(--font_scale_resize));
	padding-bottom: calc(12px - var(--font_scale_resize));
	
	color: rgba(255,255,255,1.00);
	text-align: center;
	font-size: calc(12px - var(--font_scale_resize));
	line-height: calc(14px - var(--font_scale_resize));
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 600;
}

/* LOGO */

#EMEC {
	fill:#27AC3A;
	height: calc(40px / 1.5);
	width: calc(181px / 1.5);
}

.logoSVG_wrapper {
	z-index: 1000;
	position: fixed;
	bottom: 2vh;
	left: calc((100vw - (181px / 1.25)) / 2);
}

.logoSVG {
	height: calc(40px / 1.25);
	width: calc(181px / 1.25);
}

.turnYourDevice {
	top: 0;
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(50,62,72,1);
	color: rgba(255,255,255,1.00);
	
	text-align: center;
	font-size: calc(30px - var(--font_scale_resize));
	line-height: 100vh;
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 600;
	
	z-index: 1000000;
}


/*//_________________________*/


@media screen and (min-width: 480px) {

	body,html {
	margin:0;
	top: 0;
	/*width: 100vw;
	height: 100vh;*/
	/*overflow-y: hidden;*/
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
	

/* FOOTER SMARTPHONE ROTATE*/

.footer {
	width: calc(100vw - 80px);
	margin-top: 8vh;
	padding-left: 40px;
	padding-right: 40px;
	background-color: rgba(50,62,72,1);
	padding-top: calc(12px - var(--font_scale_resize));
	padding-bottom: calc((12px - var(--font_scale_resize)) + 15px);
	
	color: rgba(255,255,255,1.00);
	text-align: center;
	font-size: calc(14px - var(--font_scale_resize));
	line-height: calc(16px - var(--font_scale_resize));
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 600;
	
	position: fixed;
	z-index: 10000;
	bottom: 0;
	opacity: 1;
	left: 0;
}
	
.swipeUp {
	position: fixed;
	bottom: 4vh;
	left: calc((50vw - 40px) / 2);
	width: 40px;
	height: 40px;
	z-index: 1000;
	/*background-color: rgba(116,49,50,1.00);*/
	display: none;
	opacity: 0;
}
	
#poolInfo_content {
	width: 50vw;
	height: auto;
	position: relative;
	top: 0;
	left: 50vw;
	
	background-color: rgba(255,255,255,1.00);
	/*padding-top: calc((var(--button_size) + 80px) + 5vh);*/
	z-index: 1;
	opacity: 1;
	
	/*display: none;*/
}

/* METEO */

.poolInfo_title {
	color: rgba(50,62,72,1);
	text-align: left;
	font-size: calc(48px - var(--font_scale_resize));
	line-height: calc(60px - var(--font_scale_resize));
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 200;
	
	/*background-color: indigo;*/
	
	margin-left: calc(var(--weather_icon) + 20px);
}

.poolInfo_value {
	color: rgba(50,62,72,1);
	text-align: left;
	font-size: calc(18px - var(--font_scale_resize));
	line-height: calc(20px - var(--font_scale_resize));
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 500;
	margin-left: 80px;
	
	/*background-color: red;*/
}

.pool_menu_overlay {
	top: 0;
	position: fixed;
	z-index: 9999;
	/*background-color: mediumblue;*/
	width: 100vw;
	height: 100vh;
	padding-top: calc(100vh - (((var(--laberl_li_size-plusborder) * 5) + (var(--poolname_li_margin) * 6)) / 2));
    background-color: rgba(245, 247, 249, 1);
}

.logoSVG_wrapper {
	z-index: 1000;
	position: fixed;
	bottom: 2vh;
	left: calc((100vw - (181px / 1.25)) / 2);
}

.turnYourDevice {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(50,62,72,1);
	color: rgba(255,255,255,1.00);
	
	text-align: center;
	font-size: calc(30px - var(--font_scale_resize));
	line-height: 100vh;
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 600;
	
	z-index: 1000000;
}

.smileSVG {
	width: 20vw;
	height: 26vw;
}

.smile_cont {
	position: fixed;
	top: calc(50vh - 13vw);
	left: calc(25vw - 10vw);
	width: 20vw;
	height: 26vw;
	z-index: 1000;
	/*background-color: rgba(116,49,50,1.00);*/
}

.navbar {
	position: fixed; /* ***ATTENZIONE usare fixed*** */
	/*top: var(--top_nav);*/
	top: 0;
	width: 50vw;
	left: 50vw;
	height: calc(var(--button_size) + 80px);
	z-index: 1000;
	
	background-color: rgba(255,255,255,1.00);
}

.poolname {
	top: 40px;
	text-align: left;
	font-size: calc(24px - var(--font_scale_resize));
	line-height: 40px;
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 400;
	position: absolute;
	/*width: calc(100vw - var(--left_poolN) - var(--right_poolN));*/
	width: calc(100vw - 80px);
	left: calc(-50vw + 40px);
	
	/*background-color: slategrey;*/
}
	
}

/*//_________________________*/


@media screen and (min-width: 1024px) {
	
.poolname_list {
	color: rgba(50,62,72,1.00);
	text-align: center;
	font-size: calc(20px - var(--font_scale_resize));
	line-height: var(--label_li_size);
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 500;
	
	height: var(--label_li_size);
	margin: var(--poolname_li_margin) 0 var(--poolname_li_margin) calc(50vw - (var(--width_li) / 2));
	
	border-radius: 10px;
	-moz-border-radius : 10px;
  	-webkit-border-radius : 10px;
	
	width: var(--width_li);
	cursor: pointer;
	
	background-color: rgba(245, 247, 249, 1);
	position: relative;
}
	
.poolInfo_wrapper {
	margin-top: 40px;
	margin-left: 80px;
	margin-right: 40px;
	/*background-color: deeppink;*/
}
	
}

/*//_________________________*/


@media screen and (min-width: 1280px) {
	
.poolInfo_wrapper {
	margin-top: 40px;
	margin-left: 80px;
	margin-right: 40px;
	/*background-color: deeppink;*/
}

.footer {
	width: calc(100vw - 80px);
	margin-top: 8vh;
	padding-left: 40px;
	padding-right: 40px;
	background-color: rgba(50,62,72,1);
	padding-top: calc(12px - var(--font_scale_resize));
	padding-bottom: calc((12px - var(--font_scale_resize)) + 15px);
	
	color: rgba(255,255,255,1.00);
	text-align: center;
	font-size: calc(16px - var(--font_scale_resize));
	line-height: calc(18px - var(--font_scale_resize));
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 600;
	
	position: fixed;
	z-index: 10000;
	bottom: 0;
	opacity: 1;
	left: 0;
}
	
.poolname_list {
	color: rgba(50,62,72,1.00);
	text-align: center;
	font-size: calc(22px - var(--font_scale_resize));
	line-height: var(--label_li_size);
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 500;
	
	height: var(--label_li_size);
	margin: var(--poolname_li_margin) 0 var(--poolname_li_margin) calc(50vw - (var(--width_li) / 2));
	
	border-radius: 10px;
	-moz-border-radius : 10px;
  	-webkit-border-radius : 10px;
	
	width: var(--width_li);
	cursor: pointer;
	
	background-color: rgba(245, 247, 249, 1);
	position: relative;
}
	
.poolname {
	top: 40px;
	text-align: left;
	font-size: calc(26px - var(--font_scale_resize));
	line-height: 40px;
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 400;
	position: absolute;
	/*width: calc(100vw - var(--left_poolN) - var(--right_poolN));*/
	width: calc(100vw - 80px);
	left: calc(-50vw + 40px);
	
	/*background-color: slategrey;*/
}

.smileSVG {
	width: 15vw;
	height: 19.5vw;
}

.smile_cont {
	position: fixed;
	top: calc(50vh - 9.75vw);
	left: calc(25vw - 7.5vw);
	width: 10vw;
	height: 13vw;
	z-index: 1000;
	/*background-color: rgba(116,49,50,1.00);*/
}
	
}

/*//_________________________*/


@media screen and (min-width: 1440px) {

.poolInfo_wrapper {
	margin-top: 40px;
	margin-left: 120px;
	margin-right: 40px;
	/*background-color: deeppink;*/
}

.footer {
	width: calc(100vw - 80px);
	margin-top: 8vh;
	padding-left: 40px;
	padding-right: 40px;
	background-color: rgba(50,62,72,1);
	padding-top: calc(20px - var(--font_scale_resize));
	padding-bottom: calc(20px - var(--font_scale_resize));
	
	color: rgba(255,255,255,1.00);
	text-align: center;
	font-size: calc(18px - var(--font_scale_resize));
	line-height: calc(20px - var(--font_scale_resize));
	font-kerning: normal;
	letter-spacing: normal;
	font-weight: 600;
	
	position: fixed;
	z-index: 10000;
	bottom: 0;
	opacity: 1;
	left: 0;
}
	
}

@media screen and (min-width: 1920px) {
	
.smileSVG {
	width: 12vw;
	height: 15.4vw;
}

.smile_cont {
	position: fixed;
	top: calc(50vh - 7.7vw);
	left: calc(25vw - 6vw);
	width: 10vw;
	height: 13vw;
	z-index: 1000;
	/*background-color: rgba(116,49,50,1.00);*/
}
	
}

/*DOTS ORIZZONTALI PER SWIPE*/

.on {
  width: 20px;
  height: 20px;
	border-radius:50%;
  background-color: #fff;opacity: 0.5;
  position: relative;
  margin: auto;
	  animation-delay: 1s;
	animation-fill-mode: forwards;
opacity: 1;
	animation-timing-function: ease-out; 
	 animation-name: square-to-circle;
  animation-duration: 1.5s; 
	animation-timing-function: cubic-bezier(1,.015,.295,1.225) ;

}
.off {
  width: 20px;
  height: 20px;
	border-radius:0% 50% 50% 50%;
	opacity: 0.5;
  background-color: #fff;
  position: relative;
  margin: auto;
	  animation-delay: 1s;
	animation-fill-mode: forwards;
 transform:rotate(404deg);
	animation-timing-function: ease-out; 
	 animation-name: square-to-circle-off;
  animation-duration: 1.5s; 
	animation-timing-function: cubic-bezier(1,.015,.295,1.225) ;

}



#dot {
 
		float: left;
	margin:0 4px 0 0;

}



@keyframes square-to-circle {
  
  0%  { 
    border-radius:50%;
    background:#fff;
    transform:rotate(0deg);
	  opacity: 0.5;
  }
  100% {  
    border-radius:0% 50% 50% 50%;
    background:#fff;
    transform:rotate(404deg);
	  opacity: 1;
  }
}
@keyframes square-to-circle-off {
  
  0%  { 
    border-radius:0% 50% 50% 50%;
    background:#fff;
    transform:rotate(404deg);
	  opacity: 1;
  }
  100% {  
    border-radius:50%;
    background:#fff;
    transform:rotate(0deg);
	  opacity: 0.5;
	  
  }
}

.dot_swipe{
	position:fixed; 
	bottom:22vh; 
	width: 50vw;
	right: 50vw;
	z-index: 1000;}

.dot_inside{position: absolute;
    width: 100px;
    text-align: center;
    margin: 0 0 0 40px;
    left: calc((50vw) / 2);}


@media screen and (min-width: 480px) {
	
	.dot_inside{position: absolute;
    width: 100px;
    text-align: center;
    margin:0 0 0 -50px;
    left: calc((50vw) / 2);}
 }


/*END DOTS ORIZZONTALI PER SWIPE*/
